version: "2"

services:
  head:
    build: ./docker-image
    container_name: head
    ports:
      - "2222:22"
    volumes:
      - hosts:/hosts
  node:
    build: ./docker-image
    command: ./compose-start.sh
    volumes_from:
      - head

networks:
  default:
    driver: bridge

volumes:
  hosts:
